=begin
#bLoyal.LoyaltyService

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module BloyalLoyaltyClient
  class CartsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCalculatedCart]
    def accrue_cart(body, access_key, opts = {})
      data, _status_code, _headers = accrue_cart_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCalculatedCart, Integer, Hash)>] ServerResponseCalculatedCart data, response status code and response headers
    def accrue_cart_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.accrue_cart ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.accrue_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/accruals'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CouponCodes'] = @api_client.build_collection_param(coupon_codes, :multi)
      form_params['ExcludedDiscountCodes'] = @api_client.build_collection_param(excluded_discount_codes, :multi)
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCalculatedCart' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#accrue_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param coupon_codes 
    # @param excluded_discount_codes 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCalculatedCart]
    def accrue_cart(coupon_codes, excluded_discount_codes, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = accrue_cart_with_http_info(coupon_codes, excluded_discount_codes, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param coupon_codes 
    # @param excluded_discount_codes 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCalculatedCart, Integer, Hash)>] ServerResponseCalculatedCart data, response status code and response headers
    def accrue_cart_with_http_info(coupon_codes, excluded_discount_codes, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.accrue_cart ...'
      end
      # verify the required parameter 'coupon_codes' is set
      if @api_client.config.client_side_validation && coupon_codes.nil?
        fail ArgumentError, "Missing the required parameter 'coupon_codes' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'excluded_discount_codes' is set
      if @api_client.config.client_side_validation && excluded_discount_codes.nil?
        fail ArgumentError, "Missing the required parameter 'excluded_discount_codes' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.accrue_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.accrue_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/accruals'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CouponCodes'] = @api_client.build_collection_param(coupon_codes, :multi)
      form_params['ExcludedDiscountCodes'] = @api_client.build_collection_param(excluded_discount_codes, :multi)
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCalculatedCart' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#accrue_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponse]
    def add_rule_exclusion_add_rule_exclusions_async(body, access_key, opts = {})
      data, _status_code, _headers = add_rule_exclusion_add_rule_exclusions_async_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponse, Integer, Hash)>] ServerResponse data, response status code and response headers
    def add_rule_exclusion_add_rule_exclusions_async_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.add_rule_exclusion_add_rule_exclusions_async ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/addruleexclusions'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['Rules'] = @api_client.build_collection_param(rules, :multi)
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#add_rule_exclusion_add_rule_exclusions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param rules 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponse]
    def add_rule_exclusion_add_rule_exclusions_async(cart_uid, cart_external_id, cart_source_external_id, rules, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = add_rule_exclusion_add_rule_exclusions_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, rules, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param rules 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponse, Integer, Hash)>] ServerResponse data, response status code and response headers
    def add_rule_exclusion_add_rule_exclusions_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, rules, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.add_rule_exclusion_add_rule_exclusions_async ...'
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'cart_external_id' is set
      if @api_client.config.client_side_validation && cart_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_external_id' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'cart_source_external_id' is set
      if @api_client.config.client_side_validation && cart_source_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_source_external_id' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'rules' is set
      if @api_client.config.client_side_validation && rules.nil?
        fail ArgumentError, "Missing the required parameter 'rules' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.add_rule_exclusion_add_rule_exclusions_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/addruleexclusions'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['Rules'] = @api_client.build_collection_param(rules, :multi)
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#add_rule_exclusion_add_rule_exclusions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCartApproval]
    def approve_cart(body, access_key, opts = {})
      data, _status_code, _headers = approve_cart_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCartApproval, Integer, Hash)>] ServerResponseCartApproval data, response status code and response headers
    def approve_cart_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.approve_cart ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.approve_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/approve'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['OrderProcessor'] = order_processor
      form_params['BypassComplianceChecks'] = bypass_compliance_checks
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCartApproval' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#approve_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param order_processor 
    # @param bypass_compliance_checks 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCartApproval]
    def approve_cart(cart_uid, cart_external_id, cart_source_external_id, order_processor, bypass_compliance_checks, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = approve_cart_with_http_info(cart_uid, cart_external_id, cart_source_external_id, order_processor, bypass_compliance_checks, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param order_processor 
    # @param bypass_compliance_checks 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCartApproval, Integer, Hash)>] ServerResponseCartApproval data, response status code and response headers
    def approve_cart_with_http_info(cart_uid, cart_external_id, cart_source_external_id, order_processor, bypass_compliance_checks, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.approve_cart ...'
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cart_external_id' is set
      if @api_client.config.client_side_validation && cart_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_external_id' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cart_source_external_id' is set
      if @api_client.config.client_side_validation && cart_source_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_source_external_id' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'order_processor' is set
      if @api_client.config.client_side_validation && order_processor.nil?
        fail ArgumentError, "Missing the required parameter 'order_processor' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'bypass_compliance_checks' is set
      if @api_client.config.client_side_validation && bypass_compliance_checks.nil?
        fail ArgumentError, "Missing the required parameter 'bypass_compliance_checks' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.approve_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.approve_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/approve'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['OrderProcessor'] = order_processor
      form_params['BypassComplianceChecks'] = bypass_compliance_checks
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCartApproval' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#approve_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCartLine]
    def assign_cart_line_assign_cart_line_async(body, access_key, opts = {})
      data, _status_code, _headers = assign_cart_line_assign_cart_line_async_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCartLine, Integer, Hash)>] ServerResponseCartLine data, response status code and response headers
    def assign_cart_line_assign_cart_line_async_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.assign_cart_line_assign_cart_line_async ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/assignline'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['ShipmentUid'] = shipment_uid
      form_params['ShipmentNumber'] = shipment_number
      form_params['LineUid'] = line_uid
      form_params['LineNumber'] = line_number
      form_params['Quantity'] = quantity
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCartLine' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#assign_cart_line_assign_cart_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param shipment_uid 
    # @param shipment_number 
    # @param line_uid 
    # @param line_number 
    # @param quantity 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCartLine]
    def assign_cart_line_assign_cart_line_async(cart_uid, cart_external_id, cart_source_external_id, shipment_uid, shipment_number, line_uid, line_number, quantity, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = assign_cart_line_assign_cart_line_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, shipment_uid, shipment_number, line_uid, line_number, quantity, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param shipment_uid 
    # @param shipment_number 
    # @param line_uid 
    # @param line_number 
    # @param quantity 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCartLine, Integer, Hash)>] ServerResponseCartLine data, response status code and response headers
    def assign_cart_line_assign_cart_line_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, shipment_uid, shipment_number, line_uid, line_number, quantity, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.assign_cart_line_assign_cart_line_async ...'
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'cart_external_id' is set
      if @api_client.config.client_side_validation && cart_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_external_id' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'cart_source_external_id' is set
      if @api_client.config.client_side_validation && cart_source_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_source_external_id' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'shipment_uid' is set
      if @api_client.config.client_side_validation && shipment_uid.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'shipment_number' is set
      if @api_client.config.client_side_validation && shipment_number.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_number' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'line_uid' is set
      if @api_client.config.client_side_validation && line_uid.nil?
        fail ArgumentError, "Missing the required parameter 'line_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'line_number' is set
      if @api_client.config.client_side_validation && line_number.nil?
        fail ArgumentError, "Missing the required parameter 'line_number' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'quantity' is set
      if @api_client.config.client_side_validation && quantity.nil?
        fail ArgumentError, "Missing the required parameter 'quantity' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.assign_cart_line_assign_cart_line_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/assignline'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['ShipmentUid'] = shipment_uid
      form_params['ShipmentNumber'] = shipment_number
      form_params['LineUid'] = line_uid
      form_params['LineNumber'] = line_number
      form_params['Quantity'] = quantity
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCartLine' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#assign_cart_line_assign_cart_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCalculatedCart]
    def calculate_cart(body, access_key, opts = {})
      data, _status_code, _headers = calculate_cart_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCalculatedCart, Integer, Hash)>] ServerResponseCalculatedCart data, response status code and response headers
    def calculate_cart_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.calculate_cart ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.calculate_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/calculates'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CouponCodes'] = @api_client.build_collection_param(coupon_codes, :multi)
      form_params['CalculateDate'] = calculate_date
      form_params['ExcludedDiscountCodes'] = @api_client.build_collection_param(excluded_discount_codes, :multi)
      form_params['OrderProcessor'] = order_processor
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCalculatedCart' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#calculate_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param coupon_codes 
    # @param calculate_date 
    # @param excluded_discount_codes 
    # @param order_processor 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCalculatedCart]
    def calculate_cart(coupon_codes, calculate_date, excluded_discount_codes, order_processor, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = calculate_cart_with_http_info(coupon_codes, calculate_date, excluded_discount_codes, order_processor, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param coupon_codes 
    # @param calculate_date 
    # @param excluded_discount_codes 
    # @param order_processor 
    # @param cart 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCalculatedCart, Integer, Hash)>] ServerResponseCalculatedCart data, response status code and response headers
    def calculate_cart_with_http_info(coupon_codes, calculate_date, excluded_discount_codes, order_processor, cart, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.calculate_cart ...'
      end
      # verify the required parameter 'coupon_codes' is set
      if @api_client.config.client_side_validation && coupon_codes.nil?
        fail ArgumentError, "Missing the required parameter 'coupon_codes' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'calculate_date' is set
      if @api_client.config.client_side_validation && calculate_date.nil?
        fail ArgumentError, "Missing the required parameter 'calculate_date' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'excluded_discount_codes' is set
      if @api_client.config.client_side_validation && excluded_discount_codes.nil?
        fail ArgumentError, "Missing the required parameter 'excluded_discount_codes' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'order_processor' is set
      if @api_client.config.client_side_validation && order_processor.nil?
        fail ArgumentError, "Missing the required parameter 'order_processor' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.calculate_cart"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.calculate_cart"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/calculates'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CouponCodes'] = @api_client.build_collection_param(coupon_codes, :multi)
      form_params['CalculateDate'] = calculate_date
      form_params['ExcludedDiscountCodes'] = @api_client.build_collection_param(excluded_discount_codes, :multi)
      form_params['OrderProcessor'] = order_processor
      form_params['Cart'] = cart
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCalculatedCart' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#calculate_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCommandResponse]
    def cancel_cart_post_async(body, access_key, opts = {})
      data, _status_code, _headers = cancel_cart_post_async_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCommandResponse, Integer, Hash)>] ServerResponseCommandResponse data, response status code and response headers
    def cancel_cart_post_async_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cancel_cart_post_async ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cancel_cart_post_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/cancel'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['OrderProcessor'] = order_processor
      form_params['ReasonUid'] = reason_uid
      form_params['ReasonCode'] = reason_code
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCommandResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cancel_cart_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param order_processor 
    # @param reason_uid 
    # @param reason_code 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCommandResponse]
    def cancel_cart_post_async(cart_uid, cart_external_id, cart_source_external_id, order_processor, reason_uid, reason_code, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = cancel_cart_post_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, order_processor, reason_uid, reason_code, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param cart_uid 
    # @param cart_external_id 
    # @param cart_source_external_id 
    # @param order_processor 
    # @param reason_uid 
    # @param reason_code 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCommandResponse, Integer, Hash)>] ServerResponseCommandResponse data, response status code and response headers
    def cancel_cart_post_async_with_http_info(cart_uid, cart_external_id, cart_source_external_id, order_processor, reason_uid, reason_code, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cancel_cart_post_async ...'
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'cart_external_id' is set
      if @api_client.config.client_side_validation && cart_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_external_id' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'cart_source_external_id' is set
      if @api_client.config.client_side_validation && cart_source_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_source_external_id' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'order_processor' is set
      if @api_client.config.client_side_validation && order_processor.nil?
        fail ArgumentError, "Missing the required parameter 'order_processor' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'reason_uid' is set
      if @api_client.config.client_side_validation && reason_uid.nil?
        fail ArgumentError, "Missing the required parameter 'reason_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'reason_code' is set
      if @api_client.config.client_side_validation && reason_code.nil?
        fail ArgumentError, "Missing the required parameter 'reason_code' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling CartsApi.cancel_cart_post_async"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cancel_cart_post_async"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/commands/cancel'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CartUid'] = cart_uid
      form_params['CartExternalId'] = cart_external_id
      form_params['CartSourceExternalId'] = cart_source_external_id
      form_params['OrderProcessor'] = order_processor
      form_params['ReasonUid'] = reason_uid
      form_params['ReasonCode'] = reason_code
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCommandResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cancel_cart_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @option opts [String] :uid 
    # @option opts [String] :code 
    # @option opts [Integer] :quantity 
    # @return [ServerResponseCoupon]
    def cart_coupons_apply_cart_coupon(access_key, opts = {})
      data, _status_code, _headers = cart_coupons_apply_cart_coupon_with_http_info(access_key, opts)
      data
    end

    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @option opts [String] :uid 
    # @option opts [String] :code 
    # @option opts [Integer] :quantity 
    # @return [Array<(ServerResponseCoupon, Integer, Hash)>] ServerResponseCoupon data, response status code and response headers
    def cart_coupons_apply_cart_coupon_with_http_info(access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_coupons_apply_cart_coupon ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_coupons_apply_cart_coupon"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/coupons'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?
      query_params[:'uid'] = opts[:'uid'] if !opts[:'uid'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseCoupon' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_coupons_apply_cart_coupon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param uid 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @option opts [String] :code 
    # @option opts [Integer] :quantity 
    # @return [ServerResponse]
    def cart_coupons_delete_cart_coupon(access_key, uid, opts = {})
      data, _status_code, _headers = cart_coupons_delete_cart_coupon_with_http_info(access_key, uid, opts)
      data
    end

    # @param access_key 
    # @param uid 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @option opts [String] :code 
    # @option opts [Integer] :quantity 
    # @return [Array<(ServerResponse, Integer, Hash)>] ServerResponse data, response status code and response headers
    def cart_coupons_delete_cart_coupon_with_http_info(access_key, uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_coupons_delete_cart_coupon ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_coupons_delete_cart_coupon"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling CartsApi.cart_coupons_delete_cart_coupon"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/coupons/{uid}'.sub('{' + 'accessKey' + '}', access_key.to_s).sub('{' + 'uid' + '}', uid.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_coupons_delete_cart_coupon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [ServerResponseIEnumerableAppliedCoupon]
    def cart_coupons_get_cart_coupons(access_key, opts = {})
      data, _status_code, _headers = cart_coupons_get_cart_coupons_with_http_info(access_key, opts)
      data
    end

    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [Array<(ServerResponseIEnumerableAppliedCoupon, Integer, Hash)>] ServerResponseIEnumerableAppliedCoupon data, response status code and response headers
    def cart_coupons_get_cart_coupons_with_http_info(access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_coupons_get_cart_coupons ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_coupons_get_cart_coupons"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/coupons'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseIEnumerableAppliedCoupon' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_coupons_get_cart_coupons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [Object]
    def cart_customer_clear_cart_customer_by_query(access_key, opts = {})
      data, _status_code, _headers = cart_customer_clear_cart_customer_by_query_with_http_info(access_key, opts)
      data
    end

    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def cart_customer_clear_cart_customer_by_query_with_http_info(access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_customer_clear_cart_customer_by_query ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_customer_clear_cart_customer_by_query"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/customer'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Object' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_customer_clear_cart_customer_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param cart_uid 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCustomer]
    def cart_customer_get_customer(access_key, cart_uid, opts = {})
      data, _status_code, _headers = cart_customer_get_customer_with_http_info(access_key, cart_uid, opts)
      data
    end

    # @param access_key 
    # @param cart_uid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCustomer, Integer, Hash)>] ServerResponseCustomer data, response status code and response headers
    def cart_customer_get_customer_with_http_info(access_key, cart_uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_customer_get_customer ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_customer_get_customer"
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.cart_customer_get_customer"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/{cartUid}/customer'.sub('{' + 'accessKey' + '}', access_key.to_s).sub('{' + 'cartUid' + '}', cart_uid.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseCustomer' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_customer_get_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [ServerResponseCustomer]
    def cart_customer_get_customer_by_query(access_key, opts = {})
      data, _status_code, _headers = cart_customer_get_customer_by_query_with_http_info(access_key, opts)
      data
    end

    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [Array<(ServerResponseCustomer, Integer, Hash)>] ServerResponseCustomer data, response status code and response headers
    def cart_customer_get_customer_by_query_with_http_info(access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_customer_get_customer_by_query ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_customer_get_customer_by_query"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/customer'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseCustomer' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_customer_get_customer_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param cart_uid 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseCommandResponse]
    def cart_customer_set_cart_customer(body, access_key, cart_uid, opts = {})
      data, _status_code, _headers = cart_customer_set_cart_customer_with_http_info(body, access_key, cart_uid, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param cart_uid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseCommandResponse, Integer, Hash)>] ServerResponseCommandResponse data, response status code and response headers
    def cart_customer_set_cart_customer_with_http_info(body, access_key, cart_uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_customer_set_cart_customer ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CartsApi.cart_customer_set_cart_customer"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling CartsApi.cart_customer_set_cart_customer"
      end
      # verify the required parameter 'cart_uid' is set
      if @api_client.config.client_side_validation && cart_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cart_uid' when calling CartsApi.cart_customer_set_cart_customer"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/{cartUid}/commands/setcustomer'.sub('{' + 'accessKey' + '}', access_key.to_s).sub('{' + 'cartUid' + '}', cart_uid.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ExternalId'] = external_id
      form_params['FirstName2'] = first_name2
      form_params['LastName2'] = last_name2
      form_params['Address'] = address
      form_params['AddressModified'] = address_modified
      form_params['AddressValidated'] = address_validated
      form_params['CompanyName'] = company_name
      form_params['Phone1'] = phone1
      form_params['Phone2'] = phone2
      form_params['MobilePhone'] = mobile_phone
      form_params['FaxNumber'] = fax_number
      form_params['EmailAddress'] = email_address
      form_params['FacebookId'] = facebook_id
      form_params['TwitterId'] = twitter_id
      form_params['MobileDeviceId'] = mobile_device_id
      form_params['LoyaltyRedemptionDisabled'] = loyalty_redemption_disabled
      form_params['LoyaltyAccrualDisabled'] = loyalty_accrual_disabled
      form_params['LoyaltyCardNumber'] = loyalty_card_number
      form_params['CurrentLoyaltyPoints'] = current_loyalty_points
      form_params['CurrentLoyaltyCurrency'] = current_loyalty_currency
      form_params['EditAtPOS'] = edit_at_pos
      form_params['WebAccount'] = web_account
      form_params['Verified'] = verified
      form_params['TaxExempt'] = tax_exempt
      form_params['BirthDate'] = birth_date
      form_params['LoyaltyPointsAccounts'] = @api_client.build_collection_param(loyalty_points_accounts, :multi)
      form_params['LoyaltyCurrencyAccounts'] = @api_client.build_collection_param(loyalty_currency_accounts, :multi)
      form_params['Type'] = type
      form_params['PriceLevel'] = price_level
      form_params['TransactionCount'] = transaction_count
      form_params['TotalSales'] = total_sales
      form_params['ClubMemberships'] = @api_client.build_collection_param(club_memberships, :multi)
      form_params['SubscriberGroupMemberships'] = @api_client.build_collection_param(subscriber_group_memberships, :multi)
      form_params['LoyaltytProgramMemberships'] = @api_client.build_collection_param(loyaltyt_program_memberships, :multi)
      form_params['LoyaltyProgramMemberships'] = @api_client.build_collection_param(loyalty_program_memberships, :multi)
      form_params['NoEmail'] = no_email
      form_params['NoTextMessages'] = no_text_messages
      form_params['Salutation'] = salutation
      form_params['ParentCustomerUid'] = parent_customer_uid
      form_params['ParentCustomerCode'] = parent_customer_code
      form_params['ParentExternalId'] = parent_external_id
      form_params['ReferralCustomer1Uid'] = referral_customer1_uid
      form_params['ReferralCustomer1Code'] = referral_customer1_code
      form_params['ReferralCustomer2Uid'] = referral_customer2_uid
      form_params['ReferralCustomer2Code'] = referral_customer2_code
      form_params['AlertCount'] = alert_count
      form_params['Created'] = created
      form_params['CreatedLocal'] = created_local
      form_params['SignupChannelUid'] = signup_channel_uid
      form_params['SignupStoreUid'] = signup_store_uid
      form_params['SignupStoreCode'] = signup_store_code
      form_params['SignupStoreExternalId'] = signup_store_external_id
      form_params['Id'] = id
      form_params['Uid'] = uid
      form_params['Code'] = code
      form_params['FirstName'] = first_name
      form_params['LastName'] = last_name
      form_params['CustomFields'] = custom_fields

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseCommandResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_customer_set_cart_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param external_id 
    # @param first_name2 
    # @param last_name2 
    # @param address 
    # @param address_modified 
    # @param address_validated 
    # @param company_name 
    # @param phone1 
    # @param phone2 
    # @param mobile_phone 
    # @param fax_number 
    # @param email_address 
    # @param facebook_id 
    # @param twitter_id 
    # @param mobile_device_id 
    # @param loyalty_redemption_disabled 
    # @param loyalty_accrual_disabled 
    # @param loyalty_card_number 
    # @param current_loyalty_points 
    # @param current_loyalty_currency 
    # @param edit_at_pos 
    # @param web_account 
    # @param verified 
    # @param tax_exempt 
    # @param birth_date 
    # @param loyalty_points_accounts 
    # @param loyalty_currency_accounts 
    # @param type 
    # @param price_level 
    # @param transaction_count 
    # @param total_sales 
    # @param club_memberships 
    # @param subscriber_group_memberships 
    # @param loyaltyt_program_memberships 
    # @param loyalty_program_memberships 
    # @param no_email 
    # @param no_text_messages 
    # @param salutation 
    # @param parent_customer_uid 
    # @param parent_customer_code 
    # @param parent_external_id 
    # @param referral_customer1_uid 
    # @param referral_customer1_code 
    # @param referral_customer2_uid 
    # @param referral_customer2_code 
    # @param alert_count 
    # @param created 
    # @param created_local 
    # @param signup_channel_uid 
    # @param signup_store_uid 
[...]
