=begin
#bLoyal.LoyaltyService

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module BloyalLoyaltyClient
  class EngagementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseEngagementToken]
    def create_engagement_token(body, access_key, opts = {})
      data, _status_code, _headers = create_engagement_token_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseEngagementToken, Integer, Hash)>] ServerResponseEngagementToken data, response status code and response headers
    def create_engagement_token_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EngagementsApi.create_engagement_token ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling EngagementsApi.create_engagement_token"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/engagements/commands/createtoken'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CustomerUid'] = customer_uid
      form_params['CustomerExternalId'] = customer_external_id
      form_params['CustomerCode'] = customer_code
      form_params['EngagementTypeUid'] = engagement_type_uid
      form_params['EngagementTypeCode'] = engagement_type_code
      form_params['EngagementsAllowed'] = engagements_allowed
      form_params['Expiration'] = expiration
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseEngagementToken' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EngagementsApi#create_engagement_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param customer_uid 
    # @param customer_external_id 
    # @param customer_code 
    # @param engagement_type_uid 
    # @param engagement_type_code 
    # @param engagements_allowed 
    # @param expiration 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseEngagementToken]
    def create_engagement_token(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, engagements_allowed, expiration, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = create_engagement_token_with_http_info(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, engagements_allowed, expiration, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param customer_uid 
    # @param customer_external_id 
    # @param customer_code 
    # @param engagement_type_uid 
    # @param engagement_type_code 
    # @param engagements_allowed 
    # @param expiration 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseEngagementToken, Integer, Hash)>] ServerResponseEngagementToken data, response status code and response headers
    def create_engagement_token_with_http_info(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, engagements_allowed, expiration, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EngagementsApi.create_engagement_token ...'
      end
      # verify the required parameter 'customer_uid' is set
      if @api_client.config.client_side_validation && customer_uid.nil?
        fail ArgumentError, "Missing the required parameter 'customer_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'customer_external_id' is set
      if @api_client.config.client_side_validation && customer_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_external_id' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'customer_code' is set
      if @api_client.config.client_side_validation && customer_code.nil?
        fail ArgumentError, "Missing the required parameter 'customer_code' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'engagement_type_uid' is set
      if @api_client.config.client_side_validation && engagement_type_uid.nil?
        fail ArgumentError, "Missing the required parameter 'engagement_type_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'engagement_type_code' is set
      if @api_client.config.client_side_validation && engagement_type_code.nil?
        fail ArgumentError, "Missing the required parameter 'engagement_type_code' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'engagements_allowed' is set
      if @api_client.config.client_side_validation && engagements_allowed.nil?
        fail ArgumentError, "Missing the required parameter 'engagements_allowed' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'expiration' is set
      if @api_client.config.client_side_validation && expiration.nil?
        fail ArgumentError, "Missing the required parameter 'expiration' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling EngagementsApi.create_engagement_token"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling EngagementsApi.create_engagement_token"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/engagements/commands/createtoken'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CustomerUid'] = customer_uid
      form_params['CustomerExternalId'] = customer_external_id
      form_params['CustomerCode'] = customer_code
      form_params['EngagementTypeUid'] = engagement_type_uid
      form_params['EngagementTypeCode'] = engagement_type_code
      form_params['EngagementsAllowed'] = engagements_allowed
      form_params['Expiration'] = expiration
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseEngagementToken' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EngagementsApi#create_engagement_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param access_key 
    # @param uid 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseIListEngagementType]
    def engagement_types_get_engagement_types(access_key, uid, opts = {})
      data, _status_code, _headers = engagement_types_get_engagement_types_with_http_info(access_key, uid, opts)
      data
    end

    # @param access_key 
    # @param uid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseIListEngagementType, Integer, Hash)>] ServerResponseIListEngagementType data, response status code and response headers
    def engagement_types_get_engagement_types_with_http_info(access_key, uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EngagementsApi.engagement_types_get_engagement_types ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling EngagementsApi.engagement_types_get_engagement_types"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling EngagementsApi.engagement_types_get_engagement_types"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/engagement/types/{uid}'.sub('{' + 'accessKey' + '}', access_key.to_s).sub('{' + 'uid' + '}', uid.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseIListEngagementType' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EngagementsApi#engagement_types_get_engagement_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseEngagementTransaction]
    def record_engagement(body, access_key, opts = {})
      data, _status_code, _headers = record_engagement_with_http_info(body, access_key, opts)
      data
    end

    # @param body 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseEngagementTransaction, Integer, Hash)>] ServerResponseEngagementTransaction data, response status code and response headers
    def record_engagement_with_http_info(body, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EngagementsApi.record_engagement ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling EngagementsApi.record_engagement"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/engagements/commands/record'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CustomerUid'] = customer_uid
      form_params['CustomerExternalId'] = customer_external_id
      form_params['CustomerCode'] = customer_code
      form_params['EngagementTypeUid'] = engagement_type_uid
      form_params['EngagementTypeCode'] = engagement_type_code
      form_params['Quantity'] = quantity
      form_params['Message'] = message
      form_params['Created'] = created
      form_params['CreatedLocal'] = created_local
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseEngagementTransaction' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EngagementsApi#record_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param customer_uid 
    # @param customer_external_id 
    # @param customer_code 
    # @param engagement_type_uid 
    # @param engagement_type_code 
    # @param quantity 
    # @param message 
    # @param created 
    # @param created_local 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseEngagementTransaction]
    def record_engagement(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, quantity, message, created, created_local, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      data, _status_code, _headers = record_engagement_with_http_info(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, quantity, message, created, created_local, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts)
      data
    end

    # @param customer_uid 
    # @param customer_external_id 
    # @param customer_code 
    # @param engagement_type_uid 
    # @param engagement_type_code 
    # @param quantity 
    # @param message 
    # @param created 
    # @param created_local 
    # @param device_uid 
    # @param store_code 
    # @param device_code 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseEngagementTransaction, Integer, Hash)>] ServerResponseEngagementTransaction data, response status code and response headers
    def record_engagement_with_http_info(customer_uid, customer_external_id, customer_code, engagement_type_uid, engagement_type_code, quantity, message, created, created_local, device_uid, store_code, device_code, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EngagementsApi.record_engagement ...'
      end
      # verify the required parameter 'customer_uid' is set
      if @api_client.config.client_side_validation && customer_uid.nil?
        fail ArgumentError, "Missing the required parameter 'customer_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'customer_external_id' is set
      if @api_client.config.client_side_validation && customer_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_external_id' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'customer_code' is set
      if @api_client.config.client_side_validation && customer_code.nil?
        fail ArgumentError, "Missing the required parameter 'customer_code' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'engagement_type_uid' is set
      if @api_client.config.client_side_validation && engagement_type_uid.nil?
        fail ArgumentError, "Missing the required parameter 'engagement_type_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'engagement_type_code' is set
      if @api_client.config.client_side_validation && engagement_type_code.nil?
        fail ArgumentError, "Missing the required parameter 'engagement_type_code' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'quantity' is set
      if @api_client.config.client_side_validation && quantity.nil?
        fail ArgumentError, "Missing the required parameter 'quantity' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'message' is set
      if @api_client.config.client_side_validation && message.nil?
        fail ArgumentError, "Missing the required parameter 'message' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'created' is set
      if @api_client.config.client_side_validation && created.nil?
        fail ArgumentError, "Missing the required parameter 'created' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'created_local' is set
      if @api_client.config.client_side_validation && created_local.nil?
        fail ArgumentError, "Missing the required parameter 'created_local' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling EngagementsApi.record_engagement"
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling EngagementsApi.record_engagement"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/engagements/commands/record'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['CustomerUid'] = customer_uid
      form_params['CustomerExternalId'] = customer_external_id
      form_params['CustomerCode'] = customer_code
      form_params['EngagementTypeUid'] = engagement_type_uid
      form_params['EngagementTypeCode'] = engagement_type_code
      form_params['Quantity'] = quantity
      form_params['Message'] = message
      form_params['Created'] = created
      form_params['CreatedLocal'] = created_local
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseEngagementTransaction' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EngagementsApi#record_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
