=begin
#bLoyal.LoyaltyService

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module BloyalLoyaltyClient
  class QueryTrialAccrualApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [ServerResponseAccrualSummary]
    def query_trial_accrual_trial_accrual_query(access_key, opts = {})
      data, _status_code, _headers = query_trial_accrual_trial_accrual_query_with_http_info(access_key, opts)
      data
    end

    # @param access_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_uid 
    # @option opts [String] :external_id 
    # @option opts [String] :source_external_id 
    # @return [Array<(ServerResponseAccrualSummary, Integer, Hash)>] ServerResponseAccrualSummary data, response status code and response headers
    def query_trial_accrual_trial_accrual_query_with_http_info(access_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueryTrialAccrualApi.query_trial_accrual_trial_accrual_query ...'
      end
      # verify the required parameter 'access_key' is set
      if @api_client.config.client_side_validation && access_key.nil?
        fail ArgumentError, "Missing the required parameter 'access_key' when calling QueryTrialAccrualApi.query_trial_accrual_trial_accrual_query"
      end
      # resource path
      local_var_path = '/api/v4/{accessKey}/carts/accrualdelta'.sub('{' + 'accessKey' + '}', access_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartUid'] = opts[:'cart_uid'] if !opts[:'cart_uid'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'sourceExternalId'] = opts[:'source_external_id'] if !opts[:'source_external_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerResponseAccrualSummary' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueryTrialAccrualApi#query_trial_accrual_trial_accrual_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
