=begin
#bLoyal.LoyaltyService

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module BloyalLoyaltyClient
  class SnippetClubsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body 
    # @param login_domain 
    # @param device_code 
    # @param session_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseClubMembership]
    def join_club_session_join_club(body, login_domain, device_code, session_key, opts = {})
      data, _status_code, _headers = join_club_session_join_club_with_http_info(body, login_domain, device_code, session_key, opts)
      data
    end

    # @param body 
    # @param login_domain 
    # @param device_code 
    # @param session_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseClubMembership, Integer, Hash)>] ServerResponseClubMembership data, response status code and response headers
    def join_club_session_join_club_with_http_info(body, login_domain, device_code, session_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SnippetClubsApi.join_club_session_join_club ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'login_domain' is set
      if @api_client.config.client_side_validation && login_domain.nil?
        fail ArgumentError, "Missing the required parameter 'login_domain' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'session_key' is set
      if @api_client.config.client_side_validation && session_key.nil?
        fail ArgumentError, "Missing the required parameter 'session_key' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # resource path
      local_var_path = '/api/v4/{loginDomain}/{deviceCode}/snippets/club/{sessionKey}/commands/join'.sub('{' + 'loginDomain' + '}', login_domain.to_s).sub('{' + 'deviceCode' + '}', device_code.to_s).sub('{' + 'sessionKey' + '}', session_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['MembershipUid'] = membership_uid
      form_params['ClubUid'] = club_uid
      form_params['CustomerUid'] = customer_uid
      form_params['SponsorUid'] = sponsor_uid
      form_params['ReferralUid'] = referral_uid
      form_params['Payment'] = payment
      form_params['Fulfillment'] = fulfillment
      form_params['AutoBillingDay'] = auto_billing_day
      form_params['AutoBillingStartDate'] = auto_billing_start_date
      form_params['ProductPreferenceType'] = product_preference_type
      form_params['ProductPreferences'] = @api_client.build_collection_param(product_preferences, :multi)
      form_params['CustomCode1'] = custom_code1
      form_params['CustomCode2'] = custom_code2
      form_params['CustomCode3'] = custom_code3
      form_params['CustomCode4'] = custom_code4
      form_params['CustomCode5'] = custom_code5
      form_params['CustomCode6'] = custom_code6
      form_params['CustomCode7'] = custom_code7
      form_params['CustomCode8'] = custom_code8
      form_params['CustomFields'] = custom_fields
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseClubMembership' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SnippetClubsApi#join_club_session_join_club\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param membership_uid 
    # @param club_uid 
    # @param customer_uid 
    # @param sponsor_uid 
    # @param referral_uid 
    # @param payment 
    # @param fulfillment 
    # @param auto_billing_day 
    # @param auto_billing_start_date 
    # @param product_preference_type 
    # @param product_preferences 
    # @param custom_code1 
    # @param custom_code2 
    # @param custom_code3 
    # @param custom_code4 
    # @param custom_code5 
    # @param custom_code6 
    # @param custom_code7 
    # @param custom_code8 
    # @param custom_fields 
    # @param device_uid 
    # @param store_code 
    # @param device_code2 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param login_domain 
    # @param device_code 
    # @param session_key 
    # @param [Hash] opts the optional parameters
    # @return [ServerResponseClubMembership]
    def join_club_session_join_club(membership_uid, club_uid, customer_uid, sponsor_uid, referral_uid, payment, fulfillment, auto_billing_day, auto_billing_start_date, product_preference_type, product_preferences, custom_code1, custom_code2, custom_code3, custom_code4, custom_code5, custom_code6, custom_code7, custom_code8, custom_fields, device_uid, store_code, device_code2, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, login_domain, device_code, session_key, opts = {})
      data, _status_code, _headers = join_club_session_join_club_with_http_info(membership_uid, club_uid, customer_uid, sponsor_uid, referral_uid, payment, fulfillment, auto_billing_day, auto_billing_start_date, product_preference_type, product_preferences, custom_code1, custom_code2, custom_code3, custom_code4, custom_code5, custom_code6, custom_code7, custom_code8, custom_fields, device_uid, store_code, device_code2, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, login_domain, device_code, session_key, opts)
      data
    end

    # @param membership_uid 
    # @param club_uid 
    # @param customer_uid 
    # @param sponsor_uid 
    # @param referral_uid 
    # @param payment 
    # @param fulfillment 
    # @param auto_billing_day 
    # @param auto_billing_start_date 
    # @param product_preference_type 
    # @param product_preferences 
    # @param custom_code1 
    # @param custom_code2 
    # @param custom_code3 
    # @param custom_code4 
    # @param custom_code5 
    # @param custom_code6 
    # @param custom_code7 
    # @param custom_code8 
    # @param custom_fields 
    # @param device_uid 
    # @param store_code 
    # @param device_code2 
    # @param cashier_uid 
    # @param cashier_code 
    # @param cashier_external_id 
    # @param uid 
    # @param reference_number 
    # @param system_uid 
    # @param connector_uid 
    # @param login_domain 
    # @param device_code 
    # @param session_key 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerResponseClubMembership, Integer, Hash)>] ServerResponseClubMembership data, response status code and response headers
    def join_club_session_join_club_with_http_info(membership_uid, club_uid, customer_uid, sponsor_uid, referral_uid, payment, fulfillment, auto_billing_day, auto_billing_start_date, product_preference_type, product_preferences, custom_code1, custom_code2, custom_code3, custom_code4, custom_code5, custom_code6, custom_code7, custom_code8, custom_fields, device_uid, store_code, device_code2, cashier_uid, cashier_code, cashier_external_id, uid, reference_number, system_uid, connector_uid, login_domain, device_code, session_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SnippetClubsApi.join_club_session_join_club ...'
      end
      # verify the required parameter 'membership_uid' is set
      if @api_client.config.client_side_validation && membership_uid.nil?
        fail ArgumentError, "Missing the required parameter 'membership_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'club_uid' is set
      if @api_client.config.client_side_validation && club_uid.nil?
        fail ArgumentError, "Missing the required parameter 'club_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'customer_uid' is set
      if @api_client.config.client_side_validation && customer_uid.nil?
        fail ArgumentError, "Missing the required parameter 'customer_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'sponsor_uid' is set
      if @api_client.config.client_side_validation && sponsor_uid.nil?
        fail ArgumentError, "Missing the required parameter 'sponsor_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'referral_uid' is set
      if @api_client.config.client_side_validation && referral_uid.nil?
        fail ArgumentError, "Missing the required parameter 'referral_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'payment' is set
      if @api_client.config.client_side_validation && payment.nil?
        fail ArgumentError, "Missing the required parameter 'payment' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'fulfillment' is set
      if @api_client.config.client_side_validation && fulfillment.nil?
        fail ArgumentError, "Missing the required parameter 'fulfillment' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'auto_billing_day' is set
      if @api_client.config.client_side_validation && auto_billing_day.nil?
        fail ArgumentError, "Missing the required parameter 'auto_billing_day' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'auto_billing_start_date' is set
      if @api_client.config.client_side_validation && auto_billing_start_date.nil?
        fail ArgumentError, "Missing the required parameter 'auto_billing_start_date' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'product_preference_type' is set
      if @api_client.config.client_side_validation && product_preference_type.nil?
        fail ArgumentError, "Missing the required parameter 'product_preference_type' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['Undefined', 'Default', 'Replace', 'Append'].include?(product_preference_type)
        fail ArgumentError, "invalid value for 'product_preference_type', must be one of Undefined, Default, Replace, Append"
      end
      # verify the required parameter 'product_preferences' is set
      if @api_client.config.client_side_validation && product_preferences.nil?
        fail ArgumentError, "Missing the required parameter 'product_preferences' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code1' is set
      if @api_client.config.client_side_validation && custom_code1.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code1' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code2' is set
      if @api_client.config.client_side_validation && custom_code2.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code2' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code3' is set
      if @api_client.config.client_side_validation && custom_code3.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code3' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code4' is set
      if @api_client.config.client_side_validation && custom_code4.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code4' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code5' is set
      if @api_client.config.client_side_validation && custom_code5.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code5' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code6' is set
      if @api_client.config.client_side_validation && custom_code6.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code6' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code7' is set
      if @api_client.config.client_side_validation && custom_code7.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code7' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_code8' is set
      if @api_client.config.client_side_validation && custom_code8.nil?
        fail ArgumentError, "Missing the required parameter 'custom_code8' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'custom_fields' is set
      if @api_client.config.client_side_validation && custom_fields.nil?
        fail ArgumentError, "Missing the required parameter 'custom_fields' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'device_uid' is set
      if @api_client.config.client_side_validation && device_uid.nil?
        fail ArgumentError, "Missing the required parameter 'device_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'store_code' is set
      if @api_client.config.client_side_validation && store_code.nil?
        fail ArgumentError, "Missing the required parameter 'store_code' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'device_code2' is set
      if @api_client.config.client_side_validation && device_code2.nil?
        fail ArgumentError, "Missing the required parameter 'device_code2' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'cashier_uid' is set
      if @api_client.config.client_side_validation && cashier_uid.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'cashier_code' is set
      if @api_client.config.client_side_validation && cashier_code.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_code' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'cashier_external_id' is set
      if @api_client.config.client_side_validation && cashier_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'cashier_external_id' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'uid' is set
      if @api_client.config.client_side_validation && uid.nil?
        fail ArgumentError, "Missing the required parameter 'uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'reference_number' is set
      if @api_client.config.client_side_validation && reference_number.nil?
        fail ArgumentError, "Missing the required parameter 'reference_number' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'system_uid' is set
      if @api_client.config.client_side_validation && system_uid.nil?
        fail ArgumentError, "Missing the required parameter 'system_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'connector_uid' is set
      if @api_client.config.client_side_validation && connector_uid.nil?
        fail ArgumentError, "Missing the required parameter 'connector_uid' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'login_domain' is set
      if @api_client.config.client_side_validation && login_domain.nil?
        fail ArgumentError, "Missing the required parameter 'login_domain' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'device_code' is set
      if @api_client.config.client_side_validation && device_code.nil?
        fail ArgumentError, "Missing the required parameter 'device_code' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # verify the required parameter 'session_key' is set
      if @api_client.config.client_side_validation && session_key.nil?
        fail ArgumentError, "Missing the required parameter 'session_key' when calling SnippetClubsApi.join_club_session_join_club"
      end
      # resource path
      local_var_path = '/api/v4/{loginDomain}/{deviceCode}/snippets/club/{sessionKey}/commands/join'.sub('{' + 'loginDomain' + '}', login_domain.to_s).sub('{' + 'deviceCode' + '}', device_code.to_s).sub('{' + 'sessionKey' + '}', session_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['MembershipUid'] = membership_uid
      form_params['ClubUid'] = club_uid
      form_params['CustomerUid'] = customer_uid
      form_params['SponsorUid'] = sponsor_uid
      form_params['ReferralUid'] = referral_uid
      form_params['Payment'] = payment
      form_params['Fulfillment'] = fulfillment
      form_params['AutoBillingDay'] = auto_billing_day
      form_params['AutoBillingStartDate'] = auto_billing_start_date
      form_params['ProductPreferenceType'] = product_preference_type
      form_params['ProductPreferences'] = @api_client.build_collection_param(product_preferences, :multi)
      form_params['CustomCode1'] = custom_code1
      form_params['CustomCode2'] = custom_code2
      form_params['CustomCode3'] = custom_code3
      form_params['CustomCode4'] = custom_code4
      form_params['CustomCode5'] = custom_code5
      form_params['CustomCode6'] = custom_code6
      form_params['CustomCode7'] = custom_code7
      form_params['CustomCode8'] = custom_code8
      form_params['CustomFields'] = custom_fields
      form_params['DeviceUid'] = device_uid
      form_params['StoreCode'] = store_code
      form_params['DeviceCode'] = device_code
      form_params['CashierUid'] = cashier_uid
      form_params['CashierCode'] = cashier_code
      form_params['CashierExternalId'] = cashier_external_id
      form_params['Uid'] = uid
      form_params['ReferenceNumber'] = reference_number
      form_params['SystemUid'] = system_uid
      form_params['ConnectorUid'] = connector_uid

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerResponseClubMembership' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SnippetClubsApi#join_club_session_join_club\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
